
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #1b1b1b;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  padding: 20px;
}

h1{
  text-align: center;
}

.project-github{
  display: grid;
  place-items: center;
}

.project-github p{
  font-weight: bold;
  font-size: 15px;
  color : white;
  margin-top: 20px;
}

pre {
  background-color: #12101a;
  border-radius: 8px;
  color: white;
  page-break-inside: avoid;
  font-family: monospace;
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1em 1.5em;
  display: block;
  word-wrap: break-word;
}





